# Informações do Banco de Dados
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=


# Chaves de Segurança
PASS_PEPPER=
SAVEBOX_JWT_SECRET=
RESEND_API_KEY=
EMAIL_VALIDATION_API_KEY=


# Configurações do Armazenamento
SAVEBOX_STORAGE_PATH=./savebox_storage/


CORS_ORIGIN=

